{% extends 'base.html.twig' %}

{% block title %}
	{{ mix.title }}
	Mix
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="d-inline me-3">{{ mix.title }}</h1>
		<div class="row mt-5">
			<div class="col-12 col-md-4">
				{{ include('mix/_recordSvg.html.twig') }}
			</div>
			<div class="col-12 col-md-8 ps-5">
				<h2 class="mb-4">{{ mix.trackCount }}
					songs
					<small>(genre:
						{{ mix.genre }})</small>
				</h2>
				<p>{{ mix.discription }}</p>
			</div>
		</div>
	</div>
{% endblock %}
